{% extends "layout.html" %}

{% block scripts %}

<script type="text/javascript">
    var W3CDOM = (document.getElementsByTagName && document.createElement);

    function writeError(target, message) {
        validForm = false;
        if (target.hasError) return;
        
        if (W3CDOM) {
            target.className += ' error';
            target.onchange = removeError;
            var sp = document.createElement('span');
            sp.className = 'error';
            sp.style.color = 'red';
            sp.appendChild(document.createTextNode(message));
            target.parentNode.appendChild(sp);
            target.hasError = sp;
        }
        else {
            errorstring += target.name + ': ' + message + '\n';
            target.hasError = true;
        }
        
        if (!firstError)
            firstError = target;
    }

    function removeError() {
        this.className = this.className.substring(0, this.className.lastIndexOf(' '));
        this.parentNode.removeChild(this.hasError);
        this.hasError = null;
        this.onchange = null;
    }

    function validateField(theForm) {
        validForm = true;
        firstError = null;
        errorstring = '没有错误';
        if (theForm["sql_cmd"].value.length == 0)
            writeError(theForm["sql_cmd"], "请输入有效的 SQL 命令");
        if (!W3CDOM)
            alert(errorstring);
        if (firstError)
            firstError.focus();
        //if (validForm)
        //    alert('All data is valid!');
        return validForm;
    }
</script>

{% endblock %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">SQL 查询</h3>
    </div>
    <div class="panel-body">
        <form role="form" method="POST" onsubmit="return validateField(this);">
            <div class="form-group">
                <textarea name="sql_cmd" class="form-control input-block-level" rows="3"
                          placeholder="输入 SQL 语句">{{previous_sql}}</textarea>
                <button type="submit" class="btn btn-primary">执行</button><em style="color:red;"></em>
            </div>
        </form>
    </div>
</div>

{% if resultSet is defined %}

{% if nrows is defined %}
<p style="color: red">查询成功返回：{{nrows}}行受到影响。</p>
{% endif %}

{% if resultSet | length > 0 %}
<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            {% for key in keys %}
            <th>{{key}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for r in resultSet %}
        <tr>
            {% for item in r %}
            <td>{{item | string}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endif %}

{% endblock %}
