{% extends "layout.html" %}

{% block content %}

<form action="#" method="POST">
    <h3> 执行SQL命令 <em style="color:red;">危险功能，请谨慎使用</em></h3>
    <textarea name="sql_cmd" cols="80" onsubmit="return true;"></textarea>
    <input type="submit" />
</form>

{% if nrows is defined %}
<div>
    <span>查询结果：{{result | length}}</span>
</div>
{% endif %}

{% if result is defined %}
<div>
    <span>查询结果：{{result | length}}</span>
    <table>
        <tbody>
        {% for record in result %}
        <tr>
            {% for item in record %}
            <td>{{item | string}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}
