{% extends "layout.html" %}

{% block head %}

{{ super() }}

<!--<link rel="stylesheet" type="text/css" href="/static/content/table.css" />-->
<script src="/static/scripts/jquery-1.10.2.js"></script>

{% endblock %}

{% block content %}

<h3> 数据库 <a href="/db/{{db}}">{{db}}</a> » 表 {{tbl}}</h3>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#records" role="tab" data-toggle="tab">数据</a></li>
    <li><a href="#fields" role="tab" data-toggle="tab">字段</a></li>
    <li><a href="#constrains" role="tab" data-toggle="tab">约束</a></li>
    <li><a href="#indexes" role="tab" data-toggle="tab">索引</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="records">
        {% if result is defined %}
        <div>
            <span>记录行数：{{result | length}}</span>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        {% for item, type in cols %}
                        <th><a href="#" class="tooltip-test" data-toggle="tooltip" title="{{type}}">{{ item }}</a></th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for record in result %}
                    <tr>
                        {% for item in record %}
                        <td>{{item | string}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <div class="tab-pane" id="fields">
        <ul>
            {% for item, type in cols %}
            <li>
                <a href="#">{{ item }}</a>
                <span>{{type}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="tab-pane" id="constrains">
        {% if cons | length > 0 %}
        <div>
            <ul>
                {% for item in cons %}
                <li><a href="#">{{ item }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="tab-pane" id="indexes">
        {% if indexes | length > 0 %}
        <div>
            <ul>
                {% for item in indexes %}
                <li><a href="#">{{ item }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
