{% extends "layout.html" %}

{% block head %}

{{ super() }}

{% endblock %}

{% block content %}

{% if tbl_descr | length > 0 %}
<h3> 数据库 <a href="/db/{{db}}">{{db}}</a> » {{tbl_descr[0][0]}} {{tbl}}</h3>
{% else %}
<h3> 数据库 <a href="/db/{{db}}">{{db}}</a> » 表 {{tbl}}</h3>
{% endif %}

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#records" role="tab" data-toggle="tab">数据 ({{result | length}})</a></li>
    <li><a href="#fields" role="tab" data-toggle="tab">字段 ({{cols | length}})</a></li>
    <li><a href="#constrains" role="tab" data-toggle="tab">约束 ({{cons | length}})</a></li>
    <li><a href="#indexes" role="tab" data-toggle="tab">索引 ({{indexes | length}})</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="records">
        {% if result is defined %}
        <div style="margin-top: 5px;">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        {% for item, type in cols %}
                        <th><a href="#" class="tooltip-test" data-toggle="tooltip" title="{{type}}">{{ item }}</a></th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for item in cols_descr %}
                        <th><a href="#">{{ item[0] }}</a></th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for record in result %}
                    <tr>
                        {% for item in record %}
                        <td>{{item | string}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>
    <div class="tab-pane" id="fields">
        <ul>
            {% for item, type in cols %}
            <li>
                <a href="#">{{ item }}</a>
                <span>{{type}}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="tab-pane" id="constrains">
        {% if cons | length > 0 %}
        <div>
            <ul>
                {% for item in cons %}
                <li><a href="#">{{ item }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="tab-pane" id="indexes">
        {% if indexes | length > 0 %}
        <div>
            <ul>
                {% for item in indexes %}
                <li><a href="#">{{ item }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
